
nav h1 {
  text-align: center;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main p {
  text-align: center;
  margin-bottom: 25px;
}

.logo {
  max-width: auto;
  max-height: 100px;
}

header {
  display: flex;
  justify-content: space-around;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.columns li {
  list-style: none;
  line-height: 115%;
}