.App {
  font-family: 'Figtree', sans-serif;
}

nav h1 {
  text-align: center;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main p {
  text-align: center;
  margin-bottom: 25px;
}

.logo {
  max-width: auto;
  max-height: 100px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
}

/* Credit: the below form styling solution came from https://stackoverflow.com/questions/8097744/how-do-i-center-this-form-in-css */

div.form {
    display: block;
    text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: 10px;
  font-weight: 500;
}

/* do I still need this input styling? */
input {
  text-align: center;
  height: 30px;
  width: 150px;
  margin-left: 10px;
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
}

.dateDisplay {
  text-align: center;
  font-weight: 600;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.columns li {
  list-style: none;
  line-height: 115%;
}