nav h1 {
  text-align: center;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main p {
  text-align: center;
  margin-bottom: 25px;
}

.logo {
  max-width: auto;
  max-height: 100px;
}

header {
  display: flex;
  justify-content: space-around;
}

/* Credit: the below form styling solution came from https://stackoverflow.com/questions/8097744/how-do-i-center-this-form-in-css */

div.form {
    display: block;
    text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: 10px;
}

input {
  text-align: center;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.columns li {
  list-style: none;
  line-height: 115%;
}